.app-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.app-addplayer-form {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.app-main {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

