.app-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app-main {
  display: flex;
  justify-content: space-evenly
}

.input-table-container {
  border: black solid 1px;
}

.scoreboard-container {
  border: black solid 1px;
}

.scoreboard-text {
  display: flex;
  flex-direction: column;
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

.input-player {
  display: flex;
}

.input-player-info {
  display: flex;
  justify-content: center;
}