.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-evenly
}

.input-table {
  border: black solid 1px;
}

.scoreboard {
  border: black solid 1px;
  display: flex;
}

.player-score {
  display: flex;
  flex-direction: column;
}
